.container {
  background-color: whitesmoke;

  padding: 1rem;
  border-radius: 1rem;
  width: 350px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.title {
  margin-top: 0;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
}

.clickable {
  cursor: pointer;
}
